<html>
    <header>
        <meta charset="utf-8">
        <script src="angular.min.js"></script>
        <script src="app3.js"></script>
    </header>
<body ng-app="SelectionItemApp">
    <!--la div pour la liste des items a acheté-->
    <div ng-controller="MyController as menu">
       <input type="text" ng-model="menu.word">
       <button ng-click="menu.searchItems()">Narrow it down for me</button>
    
    <!--la liste des items sélectionnés-->
    
        <h3>list of items</h3>
        <ul>
            <li ng-repeat="item in menu.categories">
                {{item.name}} <button ng-click="menu.removeItem($index)">delete this item</button><br>
                {{item.short_name}}  <br>
                {{item.description}}
            </li>
        </ul>
    </div>
</body>
</html>
